<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-55158958-1','auto');ga('send','pageview');
</script>
<script>
    /**
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    * Source: https://support.google.com/analytics/answer/1136920
    */
    var trackOutboundLink = function(url) {
        // Do not break if user has a privacy extension.
        if ((ga.hasOwnProperty('loaded')) && (ga.loaded === true)) {
            ga('send', 'event', 'outbound', 'click', url, {
                hitCallback: function() {
                    document.location = url;
                }
            });
        } else {
            document.location = url;
        }
    };
</script>
