<ul>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjyvcbrb/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjyvcbrb/'); return false;">
            Jan 13 Hack Night
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflyvcbkc/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflyvcbkc/'); return false;">
            Jan 27 Town Hall Meeting
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjyvdbnb/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjyvdbnb/'); return false;">
            Feb 10 Hack Night
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflyvdbgc/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflyvdbgc/'); return false;">
            Feb 24 Town Hall Meeting
        </a>
    </li>
</ul>
