<ul>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/225045206/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/225045206/'); return false;">
            Oct 28 Town Hall Meeting
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjytpbpb/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjytpbpb/'); return false;">
            Nov 12 Hack Night
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflytpbhc/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflytpbhc/'); return false;">
            Nov 26 Town Hall Meeting
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjytqbmb/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/dqfztjytqbmb/'); return false;">
            Dec 10 Hack Night
        </a>
    </li>
</ul>
