<ul>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/221728507/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/221728507/'); return false;">
            May 13 Hack Night
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/221428914/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/221428914/'); return false;">
            May 27 Town Hall Meeting
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/221235171/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/221235171/'); return false;">
            Jun 10 Hack Night
        </a>
    </li>
    <li>
        <a href="http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflytjbgc/"
           onclick="trackOutboundLink('http://www.meetup.com/Code-for-Birmingham-AL/events/zsrbflytjbgc/'); return false;">
            Jun 24 Town Hall Meeting
        </a>
    </li>
</ul>
