/*
======================================================================
  Main Styles
======================================================================
*/

body {
    font-family: "Arvo", sans-serif;
    background: #f9f9f9;
    color: #515151;
}

h1 {
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    color: #515151;
}

a:hover {
    color: #c0392b;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-list {
    margin-left: 0;
    margin-right: 0;
    list-style: none;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 7px;
}

.headline {
    margin-bottom: 25px;
    border-bottom: 1px dotted #34a2d7;
}

.headline h1 {
    display: inline-block;
    margin-bottom: -1px;
    text-transform: uppercase;
    border-bottom: 5px solid #34a2d7;
}



body > nav {
    display: block;
    margin: 55px auto 10px auto;
}

body > nav ul {
    text-align: center;
}

body > nav a {
    display: block;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
}

body > nav li.active,
body > nav li:hover {
    background: #cf2041;
}

body > nav li.active a,
body > nav li:hover a {
    color: #FFF;
}

aside {
    margin-top: 11px;
}

aside h1 {
    margin-bottom: 15px;
    padding: 0 24px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #666;
}

aside .box {
    padding: 15px 24px;
    margin-bottom: 15px;
    border-top: 1px solid #ececec;
    background: #f6f6f6;
}

aside ul {
    margin: 0;
    list-style: none;
}

aside li a {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    color: #515151;
}

aside nav li.active a {
    color: #c0392b;
}

article {
    text-align: justify;
}

article .headline {
    text-align: right;
}

article .headline h1 {
    font-size: 30px;
    color: #161616;
}

.post-meta {
    text-align: right;
    font-size: 14px;
}
