<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Code for Birmingham | A Code for America Brigade | {{ page.title }}</title>
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Dosis:600|Lobster|Oswald">
        {% include ga.html %}
    </head>
    <body>
        <header>
            <img class="center" src="/img/codeforbirmingham.png" alt="Code for Birmingham">
        </header>
        <nav>
            <ul class="horizontal-list">
                {% if page.active == "home" %}
                    <li class="active"><a href="/">Who We Are</a></li>
                {% else %}
                    <li><a href="/">Who We Are</a></li>
                {% endif %}
                {% if page.active == "forum" %}
                    <li class="active"><a href="/forum">Forum</a></li>
                {% else %}
                    <li><a href="/forum">Forum</a></li>
                {% endif %}
                {% if page.active == "resources" %}
                    <li class="active"><a href="/resources">Resources</a></li>
                {% else %}
                    <li><a href="/resources">Resources</a></li>
                {% endif %}
                {% if page.active == "get-involved" %}
                    <li class="active"><a href="/get-involved">Get Involved</a></li>
                {% else %}
                    <li><a href="/get-involved">Get Involved</a></li>
                {% endif %}
                {% if page.active == "contact-us" %}
                    <li class="active"><a href="/contact-us">Contact Us</a></li>
                {% else %}
                    <li><a href="/contact-us">Contact Us</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="row">
            <aside class="large-3 columns">
                <h1>Projects</h1>
                <nav class="box">
                    <ul>
                        {% assign sorted_projects = (site.pages | where: "flag", "project" | sort: "title") %}
                        {% for project in sorted_projects %}
                            <li {% if page.url == project.url %}class="active"{% endif %}><a href="{{ project.url | replace: "index.html", "" }}">{{ project.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </aside>
            <article class="large-9 columns">
                <div class="headline">
                    <h1>{{ page.title }}</h1>
                </div>
                {{ content }}
            </article>
        </div>
        <footer>
            <div class="row">
                <section class="columns large-6">
                    <div class="headline">
                        <h1>Find Us</h1>
                    </div>
                    <ul class="horizontal-list">
                        <li><a href="https://github.com/CodeforBirmingham" target="_blank">GitHub</a></li>
                        <li><a href="http://www.meetup.com/Code-for-Birmingham-AL/" target="_blank">Meetup</a></li>
                        <li><a href="https://www.facebook.com/Codeforbirmingham" target="_blank">Facebook</a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/codeforbirmingham" target="_blank">Google Groups</a></li>
                    </ul>
                </section>
                <section class="columns large-6">
                    <div class="headline">
                        <h1>Feedback?</h1>
                    </div>
                    <ul class="horizontal-list">
                        <li><a href="https://github.com/CodeforBirmingham/codeforbirmingham.github.io/edit/master/{{ page.path }}" target="_blank">Help us improve this document on GitHub</a></li>
                    </ul>
                </section>
            </div>
        </footer>
    </body>
</html>
